@charset "utf-8";

body {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
}	

.clearfix {
	display: block;
}

.clear {
	clear: both;
}

img {
	width: 100%;
	height; auto;
}

.wrapper {
	width: 90%;
	height: auto;
	max-width: 1140px;
	margin: 0 auto;
}

header h1 {
	float: left;
	/* margin-top:40px; */
	/* margin-bottom:40px; */
	margin: 40px 0;
}

header h1 a{
	-webkit-transition: .5s; //Chrome,Safari
	-moz-transition: .5s; //Firefox
	-ms-transition: .5s; //IE
	-o-transition: .5s; //Opera
	transition: .5s;
}

header h1 a:hover {
	opacity: .3;
}

header ul {
	float: right;
}

header ul li {
	float: left;
	line-height: 110px;
	margin-left:30px;
}

header ul li a {
	font-size: 14px;
	font-weight: 600;
	color: #9ca29d;
}

header ul li a:hover {
	color: #f75a53;
}


header ul li:nth-child(1) {
	background-image: url(images/icon_mail.png);
	background-position: left;
	background-repeat: no-repeat;
	text-indent: 25px;
}

header ul li:nth-child(2) {
	background-image: url(images/icon_access.png);
	background-position: left;
	background-repeat: no-repeat;
	text-indent: 20px;
}

nav ul {
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin: 30px 25px 0;
}

nav ul li a {
	font-weight: 600;
	font-size: 20px;
}

nav ul li a span {
	display: block;
	font-size: 60%;
}

.primTit h2{
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	line-height: 1em;
	margin: 80px 0 40px;
}

.primTit h2 span {
	font-size: 60%;
	font-weight: 600;
	border-bottom: #000 1px solid;
}

.primary {
	width: 65%;
	float: left;
}

.secondary {
	width: 30%;
	float: right;
}

